@model IEnumerable<CartItem>

<div id="User" style="display:none;" data-email="@User.Identity.Name" data-customer="@User.IsInRole("northwind-customer")"></div>
<table class="table table-hover table-striped table-bordered">
<thead>
    <h4>Your Cart</h4>
    <hr>
    <div style="display:none;" id="ProductId"></div>
        <div class="row">
          <div class="col col-xs-4"><strong>Product</strong></div>
          <div class="col col-xs-4 text-left"><strong>Price</strong></div>
          <div class="col col-xs-4"><strong>Quantity</strong></div>
          <div class="col col-xs-4"><strong>Total</strong></div>
        </div>
</thead>
<tbody>
    @foreach(CartItem c in Model){
    <div class="row">
          @* <div class="col col-xs-2 text-left"><strong>@c.CartItemId</strong></div> *@
          <div class="col col-xs-1 text-left">@(c.Product.ProductName)</div>
          <div class="col col-xs-2 text-center" id="price_@c.CartItemId">
            @("$ " + (c.Product.UnitPrice).ToString("F"))
            </div>
          @* @{
            var editedQuantity = '';
            if(("#increasecartquantity").)
          } *@
          <div class="col col-xs-3 text-center">
            <button class="increasecartquantity" data-id="@c.CartItemId">
              More
            </button>
            <button class="decreaseCartQuantity" data-id="@c.CartItemId">
              Less
            </button>
            <span id="qty_@c.CartItemId">@c.Quantity</span> Unit(s)
            </div>
          <div class="col col-xs-4 text-right">
            <span id="total_@c.CartItemId">
              @("$ " + (c.Quantity * c.Product.UnitPrice).ToString("F"))</span>
            </div>
          <div class="col col-xs-2 text-center">
                <button>
                    Delete Entry
                </button>   
          </div>
        </div>
    }
</tbody>

</table>

@section Scripts
{
  <script src="../../js/product.js"></script>
}